# 의존성 (Dependencies)
# (oz-mini-porject 폴더 안의 node_modules 포함, 루트에서 실행해도 무시됨)
node_modules
/oz-mini-porject/node_modules 

# 빌드 결과물 (Build Output)
/dist
/build
.vite # Vite 캐시 디렉터리

# 환경 변수 (Environment Variables)
.env
.env.local
.env.*.local

# 로그 파일 (Logs)
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
