# 의존성 (Dependencies)
node_modules
/oz-mini-porject/node_modules 

# 빌드 결과물 (Build Output)
# Vite의 기본 빌드 폴더
/dist
/out 

# Vite 관련 캐시 파일 및 폴더
.vite
/public/build
/.vite-inspect

# 환경 변수 (Environment Variables)
.env
.env.local
.env.*.local

# 로그 파일 및 운영체제 관련 파일
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store 
.vscode/
